html {
  font-family: 'Lora', serif;
    text-align: center;
}

body {
    /* margin: 0 auto; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-size: 200%;
}

.container {
  padding-top: 200px;
}